* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  -ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body {
  background: #fde699;
  font-size:15px;
  line-height:1.5;
}

html, body {
  height: 100%;
}

header img {
  display: block;
  position: absolute;
  height: 200px;
  left: 50%;
  margin-left: -100px;
  margin-top: -50px;
}

header {
  font-family: 'Cookie', cursive;
  font-size: 30px;
  text-shadow: 1px 1px 1px white;
  color: #7f3f98;
  background: #fde699;
  margin: 14px;
}


nav, footer {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.4), 0 -6px 20px 0 rgba(0,0,0,.19)!important;
  text-shadow: 0px 3px 5px black;
  font-weight: bold;
  color: #fff;
  background: #7f3f98;
}

footer {
  font-family: 'Lora', 'Palatino Linotype', Palatino, serif;
  padding-top: 12px;
}

nav {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 20px;
  height: 50px;
}

nav a {
  padding: 0 8px;
  -webkit-transition: border-bottom .3s;
  transition: border-bottom .3s;
  text-decoration: none!important;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  color: #5bc6cc;
}

section a {
  text-decoration: none!important;
  color: #fde699;
}

.header-split {
  display:block;
  margin-left:50px;
}

.header-split span { display:block;
  float:right;
  margin-left:30px;}

.nav-left {
  float: left;
  padding-top: 10px;
  margin-left: 10%
}

.nav-right {
  float: right;
  padding-top: 6px;
  margin-right: 18%;
  font-size: 25px;
  letter-spacing: 5px;
}

section {
  font-family: 'Lato', Helvetica, sans-serif;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #7f3f98;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
  color: #fde699;
}

img {
  overflow: hidden;
  margin-bottom: -5px;
  border: 0;
}

img, a {
  color: inherit;
}

.wrap {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -20px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
	height: 40px; /* .push must be the same height as .footer */
}


.small {
  font-size: 12px!important;
}

.center {
  text-align: center!important;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
  padding: 2.5%;
}

.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    left: 50%;
}

ul {
  width:50%;
}

h1, h2, h3, h4 {
  font-family: 'Cookie', cursive;
}

h1 {
  font-size: 30px;
}

@media screen and (max-width:600px) {
  .w3-topnav a {
    display: block;
  }
  .w3-navbar li:not(.w3-opennav) {
    float: none;width: 100%!important;
  }
  .w3-navbar li.w3-right {
    float: none!important;
  }
}

@media screen and (max-width:600px) {
  .w3-topnav {
    position: relative;
  }
}

@media screen and (max-width:600px) {
  .w3-topnav {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  #wrapper {
  margin-top: 0;
  }
  #header {
  position: relative;
  }
}

@media screen and (min-width: 1000px) {
  #header header, #header nav {
    padding-right: 10%;
    padding-left: 10%;
  }
  #wrapper {
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 1600px) {
  #header header, #header nav {
    padding-right: 20%;
    padding-left: 20%;
  }

  #wrapper {
    margin-right: 20%;
    margin-left: 20%;
  }
}
